# Does a Relationship Exist Between Restaurant Density and Personal Income Per Capita?

## 1. Introduction
It is no question that fast food restaurants make up a generous portion of the United States' GDP. Due to it's low production cost and great taste, fast food is sold at a low cost, further increasing it's vast popularity. According to specific assumptions made in microeconomics, fast food is an inferior good; meaning as an individual's income increases the rate of purchases that are made on fast food will deccrease. Restaurant density is the proportion of restaurants to population. This shows the concentration of restaurants in a given area. Also, burgers are reported to be the most common purchased fast food. Thus, I want to investigate the correlation between restaurant density(independant variable) and income per capita(outcome) in a given state. I will also investigate burger restaurant density(independant variable) in order to observe the similarities it relationship with income per capita has with restaurant_density.

Our original fast food dataset was imported from Kaggle. Due to the absence of the variable income per capita, it is necesserry to import online datasets that contain population and per capita income. Additionally, using the Bureau of Economic Analysis database, I was able to import and eventually merge this dataframe to a newdataset consisting of all necesserry variables to solve this question.

NOTE: I originally wanted to investigate the correlation between restaurant density and income per capita in a given city instead of a state in order to have more datapoints; however, I ran in to difficulties. I will first outline my original process and show what happened, in order to prove that it was most feasible to group corresponding data frames by state instead.

## 2. Import Packages

In [1]:
import pandas as pd

## 3. Import and Read in Datasets

In [6]:
restaurants = pd.read_csv('Datasets/Datafiniti_Fast_Food_Restaurants_May19.csv')
income = pd.read_csv('Datasets/county_income.csv')

In [12]:
print(restaurants.shape)
pd.set_option("max_colwidth",200)
restaurants.head()

(10000, 16)

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,longitude,name,postalCode,province,sourceURLs,websites
0,AWrSh_KgsVYjT2BJAzaH,2019-05-19T23:58:05Z,2019-05-19T23:58:05Z,2555 11th Avenue,"Fast Food Restaurants,Hamburgers and Hot Dogs,Restaurants",Accommodation & Food Services,Greeley,US,us/co/greeley/255511thavenue/554191587,40.39629,-104.69699,Carl's Jr.,80631,CO,https://www.yellowpages.com/greeley-co/mip/carls-jr-7001402,https://www.carlsjr.com/?utm_source=Yextandutm_medium=Visit%20Websiteandutm_campaign=Homepage
1,AWEKlA-LIxWefVJwxG9B,2018-01-18T18:30:23Z,2019-05-19T23:45:05Z,2513 Highway 6 And 50,"Restaurant,Mexican Restaurants,Fast Food Restaurants,Restaurants",Accommodation & Food Services,Grand Junction,US,us/co/grandjunction/2513highway6and50/1550891556,39.08135,-108.58689,Del Taco,81505,CO,"http://www.citysearch.com/profile/772076870/grand_junction_co/del_taco.html,https://www.yellowpages.com/grand-junction-co/mip/del-taco-475739804,https://www.tripadvisor.com/Restaurant_Review-g3345...",http://www.deltaco.com
2,AWrSfAcYsVYjT2BJAzPt,2019-05-19T23:45:04Z,2019-05-19T23:45:04Z,1125 Patterson Road,"Sandwich Shops,Fast Food Restaurants,Restaurants,Take Out Restaurants",Accommodation & Food Services,Grand Junction,US,us/co/grandjunction/1125pattersonroad/-2137447852,39.09148,-108.55411,Which Wich,81506,CO,https://www.yellowpages.com/grand-junction-co/mip/which-wich-481453650,http://www.whichwich.com
3,AWrSa3NAQTFama1Xpkbz,2019-05-19T23:26:58Z,2019-05-19T23:26:58Z,3455 N Salida Court,"Fast Food Restaurants,Mexican Restaurants,Restaurants,Take Out Restaurants",Accommodation & Food Services,Aurora,US,us/co/aurora/3455nsalidacourt/1143321601,39.76369,-104.77671,Chipotle Mexican Grill,80011,CO,https://www.yellowpages.com/aurora-co/mip/chipotle-mexican-grill-537241840,http://www.chipotle.com
4,AWrSaVGzZ4Yw-wtdgcaB,2019-05-19T23:24:38Z,2019-05-19T23:24:38Z,5225 E Colfax Avenue,"Fast Food Restaurants,Mexican Restaurants,Restaurants",Accommodation & Food Services,Denver,US,us/co/denver/5225ecolfaxavenue/-864103396,39.74044,-104.92636,Taco Bell,80220,CO,https://www.yellowpages.com/denver-co/mip/taco-bell-459444587,https://locations.tacobell.com/co/denver/5225-e-colfax-ave.html?utm_source=yextandutm_campaign=yextpowerlistingsandutm_medium=referralandutm_term=004051andutm_content=website

In [13]:
income.head()
print(income.shape)

(3140, 4)

It is evident that some of the data must be cleaned in our income dataframe. Firstly, it is evident that the values of the 'Description' variables should be columns and the newly added columns will take values corresponding to the '2019' column.

In [9]:
income = income.pivot(values='2019', index='GeoName', columns='Description').reset_index()
income.head()

Description,GeoName,Per capita personal income (dollars) 2/,Personal income (thousands of dollars),Population (persons) 1/
0,"Abbeville, SC",35065,862034,24584
1,"Acadia, LA",37337,2322653,62207
2,"Accomack, VA",49695,1606389,32325
3,"Ada, ID",54506,26265476,481880
4,"Adair, IA",51911,368672,7102

Now, we want to find the number of restaurants grouped by each city and create a new data frame that contains values of a given city in the United states and the number of restaurants that city contains.

In [10]:
rest_count = restaurants.groupby(['city', 'province']).size().reset_index() 
rest_count['GeoName'] = rest_count['city'] + ", " + rest_count['province']
rest_count = rest_count.rename({0: 'num_restaurants'}, axis = 1)
rest_count = rest_count[['GeoName', 'num_restaurants']]
rest_count

              GeoName  num_restaurants
0       Abbeville, AL                2
1       Abbeville, SC                1
2        Aberdeen, MD                1
3        Aberdeen, NC                1
4        Aberdeen, WA                3
...               ...              ...
3412   Zanesville, OH                6
3413      Zebulon, GA                1
3414   Zelienople, PA                1
3415  Zephyrhills, FL                1
3416         Zion, IL                1

[3417 rows x 2 columns]

Finally, we can merge our income dataframe and the rest_count data frame. Notice once we merge, we lose alot of data as there are now only 284 rows. This means that the income database and our original dataset('restaurants') only have 284 common cities. Due to the loss of data, it is unfeasible to work with an even smaller sample size. Therefore, lets groupby state instead of city.

In [17]:
Rest_city = pd.merge(income, rest_count, on="GeoName")
Rest_city

,GeoName,Per capita personal income (dollars) 2/,Personal income (thousands of dollars),Population (persons) 1/,num_restaurants
0,"Abbeville, SC",35065,862034,24584,1
1,"Aiken, SC",44503,7623405,171300,4
2,"Aitkin, MN",41614,659213,15841,1
3,"Alameda, CA",78839,131535494,1668412,3
4,"Alamosa, CO",38403,622131,16200,1
...,...,...,...,...,...
279,"Winnebago, IL",43972,12420505,282465,1
280,"Yakima, WA",43910,11045587,251552,11
281,"Yankton, SD",51910,1185459,22837,1
282,"York, NE",50703,690164,13612,1
283,"York, PA",52015,23372369,449341,8

The Bureau of Econbomic Analysis Database allowed me to import the same dataset grouped by state instead of city. I import the files and organize/clean the data using similar methods with the previous dataframe.

In [18]:
income_state = pd.read_csv("Datasets/income_state.csv")
income_state["State"] = income_state.GeoName.str.replace(" \*", "")
state = pd.read_csv("Datasets/state_abbreviations.csv")
income_state = pd.merge(income_state, state, on='State')
income_state = income_state.pivot(values='2019', index='Code', columns='Description').reset_index()
income_state.head()

/var/folders/dl/pkdj8n7n6ps84w7d_v3vr0200000gn/T/ipykernel_7103/295436433.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  income_state["State"] = income_state.GeoName.str.replace(" \*", "")

Description,Code,Disposable personal income (millions of dollars),Per capita disposable personal income (dollars) 2/,Population (persons) 1/
0,AK,41899.7,57115.0,733603.0
1,AL,196131.2,39962.0,4907965.0
2,AR,122878.1,40675.0,3020985.0
3,AZ,300174.7,41166.0,7291843.0
4,CA,2172607.7,55090.0,39437610.0

Now that I cleaned the dataframe grouped by state, I found the number of restaurants for each state. Then, I merged 'income_state' dataframe and the 'rest_count' dataframe constaining the number of restaurants in a given state.

In [19]:
rest_count = restaurants.groupby(['province']).size().reset_index() 
rest_count.columns = ['Code', 'num_restaurants']
temp = pd.merge(income_state, rest_count, on='Code', how="outer").head()
temp

,Code,Disposable personal income (millions of dollars),Per capita disposable personal income (dollars) 2/,Population (persons) 1/,num_restaurants
0,AK,41899.7,57115.0,733603.0,64.0
1,AL,196131.2,39962.0,4907965.0,635.0
2,AR,122878.1,40675.0,3020985.0,124.0
3,AZ,300174.7,41166.0,7291843.0,186.0
4,CA,2172607.7,55090.0,39437610.0,727.0

Furthermore, I have found the number of burger restaurants in a given state. I included this data in to the previous dataframe. I finally initialized my main dataframe as it contains all variables I need to perform data analysis, visualizations and predictions.

In [20]:
burger_restaurants = restaurants.loc[restaurants.categories.str.lower().str.contains("burger")]
burger_restaurants = burger_restaurants.groupby('province').size().reset_index()
burger_restaurants.columns = ['Code', 'num_burger_restaurants']
df_main = pd.merge(temp, burger_restaurants, on='Code')
df_main['restaurant_density'] = df_main['num_restaurants'] / df_main['Population (persons) 1/']
df_main['burger_rest_desnity'] = df_main['num_burger_restaurants'] / df_main['Population (persons) 1/']
df_main

,Code,Disposable personal income (millions of dollars),Per capita disposable personal income (dollars) 2/,Population (persons) 1/,num_restaurants,num_burger_restaurants,restaurant_density,burger_rest_desnity
0,AK,41899.7,57115.0,733603.0,64.0,14,0.000087,0.000019
1,AL,196131.2,39962.0,4907965.0,635.0,221,0.000129,0.000045
2,AR,122878.1,40675.0,3020985.0,124.0,49,0.000041,0.000016
3,AZ,300174.7,41166.0,7291843.0,186.0,81,0.000026,0.000011
4,CA,2172607.7,55090.0,39437610.0,727.0,237,0.000018,0.000006

## 3. Summary Statistics

Simple data manipulation on the outcome variable, 'Per capita disposable personal income (dollars) 2/', and the two indpendant variables: 'restaurant_density', 'burger_rest_desnity'